/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
body{ 
	font-family: 'Lato', Helvetica, Arial, sans-serif; /* 16px */
	font-weight: 400;
	font-size: 1em;
	color: #999;
	line-height: 130%;
	max-width: 100%;
	margin: 0 auto;
	background-color: #585858;
}

.container{
	overflow: hidden;
	background-color: #212121;
	background-image: url("../images/grunge_background.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
}

header{
	background: #212121;
}

#headerimage{
	float: none;
	padding: 0;
}

h1{
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-style: italic;
	float: none;
	background-color: #212121;
	padding: 5% 3% 3% 3%;
	margin-top: 0%;
	margin-bottom: -3%;
	border-top: 3px solid #fff;
}

h2{
	font-family: 'Telex', Helvetica, Arial, sans-serif;
	padding: 3%;
	margin-bottom: -1%;
	background-color: #212121;
}

nav{
	font-size: 1em;
}

nav li{
	background-color: #212121;
	display: inline;
}

.nav{
	font-size: 1.25em;
	width: 105%;
	margin-left: -3%;
	margin-top: 0%;
	margin-bottom: 0%;
	list-style-type: none;
	padding: 0;
	border-top: 3px solid #fff;
}

.listnav{
	width: 16.6666666666667%;
	float: left;
	clear: right;
}

a:link{
	color: #fff;
}

a:visited{
	color: #999;
}

a:hover{
	color: #f8ec24;
}

a:active{
	color: #000;
	background-color: #fff;
}

a.email:hover{
	color: #f8ec24;
}

a.email:link{
	color: #999;
}

a.email:visited{
	color: #fff;
}

a.email:hover{
	color: #f8ec24;
}

a.email:active{
	color: #fff;
}

a.hoverable{
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
  	color: #fff;
  	padding: 0;
  	text-decoration: none;
  	text-align: center;
  	text-shadow: 0 -1px 1px #212121;
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #606060 50%, #404040 55%, #808080 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(50%,#606060), color-stop(55%,#404040), color-stop(100%,#808080)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* W3C */
  	border: 1px solid #999;
  	border-right: 1px solid #202020;
  	border-bottom: 1px solid #202020;
  	border-radius: 3px;
  	-webkit-box-shadow: inset 0 1px 0 0 #909090;
  	box-shadow: inset 0 1px 0 0 #909090;
}

a.hoverable:hover{
	color: #f8ec24;
	background-color: #000;
}

a.hoverable:active{
	color: #212121;
}

.nav .currenthoverable, .nav:hover.currenthoverable{
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
  	color: #212121;
  	padding: 0;
  	text-decoration: none;
  	text-align: center;
  	text-shadow: 0 -1px 1px #212121;
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #606060 50%, #404040 55%, #808080 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(50%,#606060), color-stop(55%,#404040), color-stop(100%,#808080)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* W3C */
  	border: 1px solid #999;
  	border-right: 1px solid #202020;
  	border-bottom: 1px solid #202020;
  	border-radius: 3px;
  	-webkit-box-shadow: inset 0 1px 0 0 #909090;
  	box-shadow: inset 0 1px 0 0 #909090;
}


.nav .currenthoverable, .nav:active.currenthoverable{
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
  	color: #f3ec24;
  	padding: 0;
  	text-decoration: none;
  	text-align: center;
  	text-shadow: 0 -1px 1px #212121;
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #606060 50%, #404040 55%, #808080 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(50%,#606060), color-stop(55%,#404040), color-stop(100%,#808080)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* W3C */
  	border: 1px solid #999;
  	border-right: 1px solid #202020;
  	border-bottom: 1px solid #202020;
  	border-radius: 3px;
  	-webkit-box-shadow: inset 0 1px 0 0 #909090;
  	box-shadow: inset 0 1px 0 0 #909090;
}

footer{
	margin: 10% 0% 5% 0%;
}

footer img {
	/*outline: 2px solid #000;*/
	max-width: 100%;
	min-height: 100px;
	margin-bottom: 5%;
}

#sponsorsfooter{
	width: 110%;
	overflow: hidden;
	background-color: #fff;
	margin: -5% 0% 10% -3%;
	padding-bottom: 1%;
	padding-top: 3%;
}

#footergallery{
	margin: 2% 1% 2% -1%;
}

#contactinfo{
	background-color: #212121;
	width: 110%;
	margin: 5% 0% 5% -2%;
	padding: 5% 0% 5% 3%;
}

#footer{
	text-align: left;
	margin-top: -3%;
	margin-bottom: 0%;
	font-family: 'Lato', Helvetica, Arial, sans-serif; /* 16px */
	color: #fff;
	padding: 0;
}

/* =============================================================================
   Page Styles
   ========================================================================== */
   
/* =============================================
   HOME
   ============================================*/	
#homecontent{
	background-color: #212121;
	width: 110%;
	padding-left: 3%;
}

#signature{
	text-align: left;
	margin-top: 4%;
	margin-bottom: 2%;
	font-family: 'Lato', Helvetica, Arial, sans-serif; /* 16px */
	color: #999;
	font-style: italic;
}

#iconshome{
	margin-left: -6%;
	margin-bottom: 5%;
}
#fbiconhome{
	padding: 1%;
	margin-bottom: 3%;
}

#emailiconhome{
	margin-left: -3.5%;
	padding: 1%;
}

#coachtrevor1{
	margin: -4% 3% 5% 0%;
	width: 24%;
}

/* =============================================
   PHILOSOPHY
   ============================================*/	
#coachingarticle{
	background: #212121;
	padding-left: 3%;
	padding-right: 17%;
	margin-left: 0%;
	margin-top: -1%;
}

#signature{
	padding-bottom: 5%;
}

/* =============================================
   PACKAGES
   ============================================*/	
   
table{
	background: #212121;
	border-collapse: collapse;
	width: 80%;
	margin: 0 10%;
	padding: 0%;
}

#table{
	background: #212121;
	width: 100%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 5%;
	margin-top: 2%;
}

th{
	font-size: 1.25em;
	line-height: 130%;
	text-align: center;
	color: #f8ec24;
	background-color: #585858;
	border-bottom: solid 2px #212121;
}

th.th1{
	border-top-left-radius: 10px;	
	padding: 3%;
}

th.th2{
	border-top-right-radius: 10px;	
	padding: 3%;
}

td{
	border: none;
	font-size: 1.125em;
	line-height: 120%;
	background-color: #999;
	color: #212121;
	padding: 3%;
	text-align: center;
}

td.td1{
	border-right: solid 2px #212121;
}

td.td2{
	border-right: solid 2px #212121;
}

td.td3{
	border-right: solid 2px #212121;
}

td.td4{
	border-right: solid 2px #212121;
}

td.td5{
	border-right: solid 2px #212121;
}

td.td6{
	border-right: solid 2px #212121;
}

td.td7{
	border-right: solid 2px #212121;
}

td.td8{
	border-right: solid 2px #212121;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

td.td12{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
td.td13{
	background: none;
}

td.td14{
	background: none;
}

td.td15{
	background: none;
}

td.td16{
	background: none;
}

/* =============================================
   COACHES
   ============================================*/ 

#trevor{
	margin: 1% 0% -1% 2%;
	font-size: 1.25em;
}  

#trevbike{
	margin-left: 2%;
	margin-top: 4%;
} 

#trevbio{
	margin: -2% 2% 1% 4%;
}

#trevhighlights{
	margin-top: -1%;
	margin-left: 2%;
	margin-bottom: 0%;
	font-size: 1.25em;
}

#trevcredentials{
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 0%;
	font-size: 1.25em;
}

#trevsponsorships{
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 0%;
	font-size: 1.25em;
}

#joe{
	margin: 8% 0% -1% 2%;
	font-size: 1.25em;
}  

#joeprofile{
	margin-left: 2%;
	margin-top: 8%;
} 

#joebio{
	margin: -2% 2% 1% 4%;
}

#joehighlights{
	margin-top: -1%;
	margin-left: 2%;
	margin-bottom: 0%;
	font-size: 1.25em;
}

#joecredentials{
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 0%;
	font-size: 1.25em;
}

#coachdave{
	background: #212121;
	padding: 2%;
	margin-left: -2%;
}

#dave{
	margin: 8% 0% -1% 2%;
	font-size: 1.25em;
}  

#davebike{
	margin-left: 2%;
	margin-top: 10%;
} 

#davebio{
	margin: -2% 2% 1% 4%;
}

#davehighlights{
	margin-top: -1%;
	margin-left: 2%;
	margin-bottom: 0%;
	font-size: 1.25em;
}

#davecredentials{
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 0%;
	font-size: 1.25em;
}

#davesponsorships{
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 0%;
	font-size: 1.25em;
}

/* =============================================
   GALLERY
   ============================================*/
aside{
	background: #212121;
	padding-right: 3%;
}
aside img{
	margin-bottom: 10%;
	border: 2px solid #f3ec24;
}

   
/* =============================================
   CONTACT US
   ============================================*/
#contact{
	background-color: #212121;
	padding: 0% 3%; 
}

form{
	background: none;
}

input{
	background: #fff;
	margin: 0.5% 1%;
}
input:focus{
	border: 2px solid #f3ec24;
}

fieldset{
	border: none;
	margin: 4% 0% 0% 0%;
}

label{
	font-size: 1em;
	color: #fff;
	text-align: right;
	clear: both;
	margin: 0.5% 1%;
	display: block;
}

textarea{
	margin: 1% 1% .5% 1%;
	background-color: #e0e0e0;
}

textarea:focus{
	border: 2px solid #f3ec24;
}

.hear{
	margin-bottom: 3%;
}

#hear_us{
	margin: 1% 1% 5% 1%;
	width: 25%;
	font-size: 1em;
}

button{
	width: 10%;
	font-size: 1.125em;
	margin-left: 17%;
	margin-bottom: 10%;
	padding: 1%;
	border-radius: 5px;
	color: #f8ec24;
    background-color: #999999;
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #909090 49%, #808080 51%, #999999 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(49%,#909090), color-stop(51%,#808080), color-stop(100%,#999999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* W3C */
}

button:hover{
	text-decoration: underline;
	color: #fff;
    background-color: #999999;
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #909090 49%, #808080 51%, #999999 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(49%,#909090), color-stop(51%,#808080), color-stop(100%,#999999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* W3C */
}


/*	========================================================================================================
	MEDIA QUERIES
	===================================================================================================== */
	
	
/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {

h1{
	font-size: 1.6em;
	line-height: 130%;
	float: none;
	margin-bottom: -3%;
}


#john{
	margin: 0 5%;
}

#dawn{
	margin-right: 5%;
}

#nathan{
	margin-right: 5%;
}

#richard{
	margin: 0 5%;
}

#footer{
	text-align: left;
	margin-top: -1%;
	margin-bottom: 3%;
	margin-left: 1%;
}

}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {

/* =============================================================================
   Site Styles
   ========================================================================== */
#logo{
	max-width: 100%;
	padding: 0%;
	margin: 0 2%; 
}

#header{
	margin: 0 auto;
	padding: 2%;
}

#nav{
	width: 110%;
	margin-left: -4%;
	margin-top: 10%;
	margin-bottom: 10%;
	list-style-type: none;
	padding: 2%;
	padding-right: 0%;
	min-height: 2.5em;
	background: #383838; /* Old browsers */
	background: -moz-linear-gradient(left,  #212121 0%, #fdf021 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#383838), color-stop(100%,#fdf021)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #212121 0%,#fdf021 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #212121 0%,#fdf021 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #212121 0%,#fdf021 100%); /* IE10+ */
	background: linear-gradient(to right,  #212121 0%,#fdf021 100%); /* W3C */
}

a.hoverable{
  	font-size: .9em;
  	/*outline: 1px solid #fff;*/
}

footer{
	margin: 10% 0% 5% 0%;
}

footer img {
	/*outline: 2px solid #000;*/
	max-width: 100%;
	min-height: 100px;
	margin-bottom: 5%;
}

#sponsorsfooter{
	width: 110%;
	overflow: hidden;
	background-color: #fff;
	margin: -5% 0% 10% -8%;
	padding-top: 1%;
	padding-right: 3%;
}

#footergallery{
	margin: 2% 1% 2% -1%;
}

#contactinfo{
	background-color: #212121;
	width: 110%;
	margin: 5% 0% 5% -5%;
	padding: 5% 0% 5% 3%;
}

#footer{
	text-align: left;
	margin-top: 0%;
	margin-bottom: 7%;
	margin-left: -2%;
	font-family: 'Lato', Helvetica, Arial, sans-serif; /* 16px */
	color: #fff;
	padding: 0;
}
   

/* =============================================
   HOME
   ============================================*/	

.nav{
	font-size: 1em;
	width: 110%;
	margin: 0 auto;
	list-style-type: none;
	padding: 0;
	border-top: none;
}

#headerimage{
	float: none;
	padding: 0%;
	width: 110%;
}

h1{
	font-size: 1.5em;
	line-height: 130%;
	float: none;
	border-top: none;
	margin-bottom: -1%;
}

#signature{
	font-size: 1em;
}

#iconshome{
	margin: 0;	
}

#fbiconhome{
	padding: 1%;
	width: 10%;
	margin-bottom: 3%;
	margin-right: 1%;
	margin-left: -10%;
}

#emailiconhome{
	margin-left: 3%;
	padding: 1%;
	width: 10%;
}
#coachtrevor1{
	display: none;
}


/* =============================================
   PHILOSOPHY
   ============================================*/	


#coachingphilosophy{
	font-size: 1.25em;
	padding-top: 5%;
	width: 100%;
	margin-top: 1%;
	/*outline: solid 1px #fff;*/
}

#coachingarticle{
	background: #212121;
	padding-left: 3%;
	padding-right: 17%;
	margin-left: 0%;
	margin-top: -1%;
	/*outline: solid 1px #fff;*/
}

/* =============================================
   PACKAGES
   ============================================*/	
   
#plans{
	font-size: 1.25em;
	padding-top: 5%;
	width: 100%;
	margin-top: 1%;
	/*outline: solid 1px #fff;*/
}

table{
	width: 90%;
	margin: 0 auto;
}

th{
	font-size: 1.125em;
}

td{
	font-size: .9em;
}

/* =============================================
   COACHES
   ============================================*/
#meetcoaches{
	font-size: 1.25em;
	padding-top: 5%;
	width: 100%;
	margin-top: 1%;
	/*outline: solid 1px #fff;*/
}   

#trevor{
	margin: 4% 0% -1% 0%;
	font-size: 1.125em;
	/*outline: solid 1px #fff;*/
}  

#trevbike{
	margin-left: 0%;
	margin-top: 4%;
} 

#trevbio{
	margin: -2% 2% 1% 0%;
}

#trevhighlights{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

.trevor{
	margin-left: 3%;
	margin-top: -1%;
	font-size: .9em;
	line-height: 180%;
}

#trevcredentials{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

#trevsponsorships{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

#joe{
	margin: 4% 0% -1% 0%;
	font-size: 1.125em;
	/*outline: solid 1px #fff;*/
}  

#joeprofile{
	margin-left: 0%;
	margin-top: 4%;
} 

#joebio{
	margin: -2% 2% 1% 0%;
}

.joe{
	margin-left: 3%;
	margin-top: -1%;
	font-size: .9em;
	line-height: 180%;
}

#joehighlights{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

#joecredentials{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

#coachdave{
	padding: 6%;
	margin-left: -6%;
	/*outline: 1px solid #fff;*/
}
#dave{
	margin: 4% 0% -1% 0%;
	font-size: 1.125em;
	/*outline: solid 1px #fff;*/
}  

#davebike{
	margin-left: 0%;
	margin-top: 4%;
} 

#davebio{
	margin: -2% 2% 1% 0%;
}

.dave{
	margin-left: 3%;
	margin-top: -1%;
	font-size: .9em;
	line-height: 180%;
}

#davehighlights{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

#davecredentials{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

#davesponsorships{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

/* =============================================
   GALLERY
   ============================================*/
#galleryheading{
	font-size: 1.25em;
	padding-top: 5%;
	width: 100%;
	margin-top: 1%;
	/*outline: solid 1px #fff;*/
}   

aside{
	background: #212121;
	padding-right: 3%;
}
aside img{
	width: 50%;
	margin: 1% 25% 10% 25%;
	border: 2px solid #f3ec24;
}

/* =============================================
   CONTACT US
   ============================================*/
   
#us{
	font-size: 1.25em;
	padding-top: 5%;
	width: 100%;
	margin-top: 1%;
	/*outline: solid 1px #fff;*/
}   

#contact{
	padding-right: 6%; 
}

label{
	text-align: left;
}

textarea{
	margin: 1% 1% .5% 0%;
}

#hear_us{
	margin: 1% 1% 5% 0%;
	width: 50%;
}

button{
	width: 30%;
	margin-left: 0%;
}
}


/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {

/* =============================================================================
   Site Styles
   ========================================================================== */
a.hoverable{
	width: 114%;
	height: 50px;
	line-height: 50px;
	font-size: 1.25em;
 	border: 1px solid #999;
  	border-right: 1px solid #999;
  	border-bottom: 1px solid #999;
  	border-top: 1px solid #212121;
}

.nav .currenthoverable, .nav:hover.currenthoverable, .nav:active.currenthoverable{
	width: 114%;
	height: 50px;
	line-height: 50px;
	font-size: 1.25em;
 	border: 1px solid #999;
  	border-right: 1px solid #999;
  	border-bottom: 1px solid #999;
  	border-top: 1px solid #212121;
}

.navlist{
	float: none;
	clear: none;
}

#h1{
	display: none;
}

h2{
	padding-right: 10%;
}
   
footer{
	margin: 10% 0% 5% 0%;
}

footer img {
	margin-top: 0%;
}

#sponsorsfooter{
	width: 100%;
	margin: -5% 0% 10% -15%;
	padding-right: 25%;
}

#contactinfo{
	width: 110%;
	margin: 5% 0% 5% -8%;
	padding: 5% 5% 5% 5%;
}

#footer{
	width: 103%;
	margin-top: -3%;
	margin-bottom: 10%;
	margin-left: -3%;
	font-size: .70em
}
   
   

/* =============================================
   HOME
   ============================================*/	
   
#headerimage{
	float: none;
	padding: 0%;
	width: 110%;
}

.nav{
	font-size: 1em;
	width: 100.5%;
	margin: 0 auto;
	list-style-type: none;
	padding: 0;
	padding-bottom: 1%;
	border-top: none;
}

.listnav{
	float: none;
	clear: none;
}

#welcome{
	margin-left: 0%;
	margin-top: 10%;
	font-size: 1em;
	padding-left: 6%;
	padding-right: 9%;
	padding-top: 4%;
}

#homecontent{
	padding-left: 6%;
}

#signature{
	font-size: 1em;
}

#iconshome{
	margin: 0;	
	padding-left: 20%;
}

#fbiconhome{
	width: 25%;
	margin-left: 0%;
	padding: 1%;
}

#emailiconhome{
	width: 25%;
	padding: 1%;
}

#coachtrevor1{
	display: none;
}


/* =============================================
   PHILOSOPHY
   ============================================*/	

#coachingarticle{
	padding-left: 8%;
	padding-right: 17%;
	margin-left: 0%;
	/*outline: solid 1px #fff;*/
}

/* =============================================
   PACKAGES
   ============================================*/	
   
table{
	width: 90%;
	margin: 0 auto;
}

th{
	font-size: 1em;
}

td{
	font-size: .8em;
}

/* =============================================
   COACHES
   ============================================*/
#trevor{
	margin: 4% 0% -1% 0%;
	font-size: 1.125em;
	/*outline: solid 1px #fff;*/
}  

#trevbike{
	margin-left: 0%;
	margin-top: 4%;
} 

#trevbio{
	margin: -2% 2% 1% 0%;
}

#trevhighlights{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

.trevor{
	margin-left: 3%;
	margin-top: -1%;
	font-size: .9em;
	line-height: 180%;
}

#trevcredentials{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

#trevsponsorships{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

#joe{
	margin: 4% 0% -1% 0%;
	font-size: 1.125em;
	/*outline: solid 1px #fff;*/
}  

#joeprofile{
	margin-left: 0%;
	margin-top: 4%;
} 

#joebio{
	margin: -2% 2% 1% 0%;
}

.joe{
	margin-left: 3%;
	margin-top: -1%;
	font-size: .9em;
	line-height: 180%;
}

#joehighlights{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

#joecredentials{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

#coachdave{
	padding: 8%;
	margin-left: -8%;
	/*outline: 1px solid #fff;*/
}
#dave{
	margin: 4% 0% -1% 0%;
	font-size: 1.125em;
	/*outline: solid 1px #fff;*/
}  

#davebike{
	margin-left: 0%;
	margin-top: 4%;
} 

#davebio{
	margin: -2% 2% 1% 0%;
}

.dave{
	margin-left: 3%;
	margin-top: -1%;
	font-size: .9em;
	line-height: 180%;
}

#davehighlights{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

#davecredentials{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

#davesponsorships{
	margin-left: 0%;
	margin-top: 2%;
	font-size: 1em;
}

/* =============================================
   GALLERY
   ============================================*/
aside{
	background: #212121;
	padding-right: 3%;
}
aside img{
	width: 50%;
	margin: 1% 25% 10% 25%;
	border: 2px solid #f3ec24;
}

/* =============================================
   CONTACT US
   ============================================*/
#contact{
	width: 100%;
	padding-right: 4%;
	padding-left: 4%;
	/*outline: 1px solid 	#fff;*/
}

label{
	text-align: left;
	margin-left: 2%;
}

textarea{
	width: 90%;
	margin: 1% 1% .5% 0%;
}

#hear_us{
	margin: 1% 1% 5% 0%;
	width: 50%;
}

button{
	width: 30%;
	margin-left: 0%;
}
}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/