/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
body{ 
	font-family: 'Lato', Helvetica, Arial, sans-serif; /* 16px */
	font-weight: 400;
	font-size: 1em;
	color: #999;
	line-height: 130%;
	max-width: 100%;
	margin: 0 auto;
	background-color: #585858;
}

.container{
	overflow: hidden;
	background-color: #212121;
	background-image: url("../images/grunge_background.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
}

header{
	background: #212121;
}

nav{
	font-size: 1em;
}

nav li{
	background-color: #212121;
	display: inline;
}

.nav{
	font-size: 1.25em;
	width: 105%;
	margin-left: -7%;
	margin-top: 0%;
	margin-bottom: 0%;
	list-style-type: none;
	padding: 0;
	border-top: 3px solid #fff;
}

.listnav{
	width: 16.6666666666667%;
	float: left;
	clear: right;
}

#nav{
	/*outline: 2px solid #fff;*/
	width: 100%;
	margin-left: -4%;
	margin-top: 10%;
	margin-bottom: 10%;
	list-style-type: none;
	padding: 2%;
	padding-right: 3%;
	min-height: 2.5em;
	background: #383838; /* Old browsers */
	background: -moz-linear-gradient(left,  #212121 0%, #fdf021 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#383838), color-stop(100%,#fdf021)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #212121 0%,#fdf021 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #212121 0%,#fdf021 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #212121 0%,#fdf021 100%); /* IE10+ */
	background: linear-gradient(to right,  #212121 0%,#fdf021 100%); /* W3C */
}

.navlist{
	width: 16.6666666666667%;
	float: left;
	clear: right;
}

a.hoverable{
	text-decoration: none;
	background: #212121;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
}

a.hoverable:hover{
	color: #f8ec24;
	background-color: #000;
}

a.hoverable:active{
	color: #212121;
	background: #fff;
}

a:link{
	color: #fff;
}

a:visited{
	color: #999;
}

a:hover{
	color: #f8ec24;
}

a:active{
	color: #000;
	background-color: #fff;
}

/*====== PAGES NAVIGATION =========================*/
/* HOME NAV BUTTON */
#homebutton{
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #606060 50%, #404040 55%, #808080 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(50%,#606060), color-stop(55%,#404040), color-stop(100%,#808080)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* W3C */
  	border: 1px solid #999;
  	border-right: 1px solid #202020;
  	border-bottom: 1px solid #202020;
  	border-radius: 3px;
  	-webkit-box-shadow: inset 0 1px 0 0 #909090;
  	box-shadow: inset 0 1px 0 0 #909090;
  	color: #fff;
  	padding: 0;
  	text-decoration: none;
  	text-align: center;
  	text-shadow: 0 -1px 1px #212121;
}
#homebutton:hover{
	color: #f8ec24;
    background-color: #999999;
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #909090 49%, #808080 51%, #999999 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(49%,#909090), color-stop(51%,#808080), color-stop(100%,#999999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* W3C */
    cursor: pointer;
}

#homebutton:active{
	color: #000;
	background: #f4ea7a; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4ea7a 0%, #fff58e 50%, #fffab5 52%, #fffbd8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ea7a), color-stop(50%,#fff58e), color-stop(52%,#fffab5), color-stop(100%,#fffbd8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* W3C */
}
/* END HOME NAV BUTTON */


/* PHILOSOPHY NAV BUTTON */
#philosophybutton{
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #606060 50%, #404040 55%, #808080 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(50%,#606060), color-stop(55%,#404040), color-stop(100%,#808080)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* W3C */
  	border: 1px solid #999;
  	border-right: 1px solid #202020;
  	border-bottom: 1px solid #202020;
  	border-radius: 3px;
  	-webkit-box-shadow: inset 0 1px 0 0 #909090;
  	box-shadow: inset 0 1px 0 0 #909090;
  	color: #fff;
  	padding: 0;
  	text-decoration: none;
  	text-align: center;
  	text-shadow: 0 -1px 1px #212121;
  }
  
a#philosophybutton:hover{
	color: #f8ec24;
    background-color: #999999;
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #909090 49%, #808080 51%, #999999 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(49%,#909090), color-stop(51%,#808080), color-stop(100%,#999999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* W3C */
    cursor: pointer;
}

a#philosophybutton:active{
	color: #000;
	background: #f4ea7a; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4ea7a 0%, #fff58e 50%, #fffab5 52%, #fffbd8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ea7a), color-stop(50%,#fff58e), color-stop(52%,#fffab5), color-stop(100%,#fffbd8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* W3C */
}
/* END PHILOSOPHY NAV BUTTON */

/* PACKAGES NAV BUTTON */  
#packagesbutton{
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #606060 50%, #404040 55%, #808080 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(50%,#606060), color-stop(55%,#404040), color-stop(100%,#808080)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* W3C */  	border: 1px solid #999;
  	border-right: 1px solid #202020;
  	border-bottom: 1px solid #202020;
  	border-radius: 3px;
  	-webkit-box-shadow: inset 0 1px 0 0 #909090;
  	box-shadow: inset 0 1px 0 0 #909090;
  	color: #fff;
  	padding: 0;
  	text-decoration: none;
  	text-align: center;
  	text-shadow: 0 -1px 1px #212121;
  }
  
#packagesbutton:hover{
	color: #f8ec24;
    background-color: #999999;
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #909090 49%, #808080 51%, #999999 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(49%,#909090), color-stop(51%,#808080), color-stop(100%,#999999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* W3C */
    cursor: pointer;
}

#packagesbutton:active{
	color: #000;
	background: #f4ea7a; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4ea7a 0%, #fff58e 50%, #fffab5 52%, #fffbd8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ea7a), color-stop(50%,#fff58e), color-stop(52%,#fffab5), color-stop(100%,#fffbd8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* W3C */
}
/* END PACKAGES NAV BUTTON */

/* COACHES NAV BUTTON */
#coachesbutton{
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #606060 50%, #404040 55%, #808080 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(50%,#606060), color-stop(55%,#404040), color-stop(100%,#808080)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* W3C */
  	border: 1px solid #999;
  	border-right: 1px solid #202020;
  	border-bottom: 1px solid #202020;
  	border-radius: 3px;
  	-webkit-box-shadow: inset 0 1px 0 0 #909090;
  	box-shadow: inset 0 1px 0 0 #909090;
  	color: #fff;
  	padding: 0;
  	text-decoration: none;
  	text-align: center;
  	text-shadow: 0 -1px 1px #212121;
  }
  
#coachesbutton:hover{
	color: #f8ec24;
    background-color: #999999;
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #909090 49%, #808080 51%, #999999 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(49%,#909090), color-stop(51%,#808080), color-stop(100%,#999999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* W3C */
    cursor: pointer;
}

#coachesbutton:active{
	color: #000;
	background: #f4ea7a; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4ea7a 0%, #fff58e 50%, #fffab5 52%, #fffbd8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ea7a), color-stop(50%,#fff58e), color-stop(52%,#fffab5), color-stop(100%,#fffbd8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* W3C */
}
/* END COACHES NAV BUTTON */ 

/* GALLERY NAV BUTTON */  
#gallerybutton{
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #606060 50%, #404040 55%, #808080 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(50%,#606060), color-stop(55%,#404040), color-stop(100%,#808080)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* W3C */
  	border: 1px solid #999;
  	border-right: 1px solid #202020;
  	border-bottom: 1px solid #202020;
  	border-radius: 3px;
  	-webkit-box-shadow: inset 0 1px 0 0 #909090;
  	box-shadow: inset 0 1px 0 0 #909090;
  	color: #fff;
  	padding: 0;
  	text-decoration: none;
  	text-align: center;
  	text-shadow: 0 -1px 1px #212121;
  }

#gallerybutton:hover{
	color: #f8ec24;
    background-color: #999999;
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #909090 49%, #808080 51%, #999999 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(49%,#909090), color-stop(51%,#808080), color-stop(100%,#999999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* W3C */
    cursor: pointer;
}

#gallerybutton:active{
	color: #000;
	background: #f4ea7a; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4ea7a 0%, #fff58e 50%, #fffab5 52%, #fffbd8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ea7a), color-stop(50%,#fff58e), color-stop(52%,#fffab5), color-stop(100%,#fffbd8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* W3C */
}

/* END GALLERY NAV BUTTON */ 

/* CONTACT US NAV BUTTON */   
  
#contactusbutton{
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #606060 50%, #404040 55%, #808080 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(50%,#606060), color-stop(55%,#404040), color-stop(100%,#808080)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#606060 50%,#404040 55%,#808080 100%); /* W3C */
  	border: 1px solid #999;
  	border-right: 1px solid #202020;
  	border-bottom: 1px solid #202020;
  	border-radius: 3px;
  	-webkit-box-shadow: inset 0 1px 0 0 #909090;
  	box-shadow: inset 0 1px 0 0 #909090;
  	color: #fff;
  	padding: 0;
  	text-decoration: none;
  	text-align: center;
  	text-shadow: 0 -1px 1px #212121;
}

#contactusbutton:hover{
	color: #f8ec24;
    background-color: #999999;
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #909090 49%, #808080 51%, #999999 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(49%,#909090), color-stop(51%,#808080), color-stop(100%,#999999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#909090 49%,#808080 51%,#999999 100%); /* W3C */
    cursor: pointer;
}

#contactusbutton:active{
	color: #000;
	background: #f4ea7a; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4ea7a 0%, #fff58e 50%, #fffab5 52%, #fffbd8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ea7a), color-stop(50%,#fff58e), color-stop(52%,#fffab5), color-stop(100%,#fffbd8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4ea7a 0%,#fff58e 50%,#fffab5 52%,#fffbd8 100%); /* W3C */
}

/* END CONTACT US NAV BUTTON */
/*====== END PAGES NAVIGATION =========================*/

h2{

}

h3{

}

h4{
	/*outline: 1px solid #fff;*/
}

a.email:hover{
	color: #f8ec24;
}

a.email:link{
	color: #999;
}

a.email:visited{
	color: #fff;
}

a.email:hover{
	color: #f8ec24;
}

a.email:active{
	color: #fff;
}

footer{
	margin: 10% 0% 5% 0%;
}

footer img {
	/*outline: 2px solid #000;*/
	max-width: 100%;
	min-height: 100px;
	margin-bottom: 5%;
}

#sponsorsfooter{
	width: 110%;
	overflow: hidden;
	background-color: #fff;
	margin: -5% 0% 10% -3%;
	padding-bottom: 1%;
}

#footergallery{
	margin: 2% 1% 2% -1%;
}

.footerlink{

}

#contactinfo{
	background-color: #212121;
	width: 110%;
	margin: 5% 0% 5% -2%;
	padding: 5% 0% 5% 3%;
}

#footer{
	text-align: left;
	margin-top: -3%;
	margin-bottom: 0%;
	font-family: 'Lato', Helvetica, Arial, sans-serif; /* 16px */
	color: #fff;
	padding: 0;
}

/* =============================================================================
   Page Styles
   ========================================================================== */
   
/* =============================================
   HOME
   ============================================*/	

#headerimage{
	float: none;
	padding: 0;
}

h1{
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-style: italic;
	float: none;
	background-color: #212121;
	padding: 5% 3% 3% 3%;
	margin-top: 0%;
	margin-bottom: -3%;
	border-top: 3px solid #fff;
}

#welcome{
	font-family: 'Telex', Helvetica, Arial, sans-serif;
	padding: 3%;
	margin-bottom: -1%;
	background-color: #212121;
}

#homecontent{
	background-color: #212121;
	width: 110%;
	padding-left: 3%;
}

#signature{
	text-align: left;
	margin-top: 4%;
	margin-bottom: 2%;
	font-family: 'Lato', Helvetica, Arial, sans-serif; /* 16px */
	color: #999;
	font-style: italic;
}

#iconshome{
	margin-left: -6%;
	margin-bottom: 5%;
}
#fbiconhome{
	padding: 1%;
	margin-bottom: 3%;
}

#emailiconhome{
	margin-left: -3.5%;
	padding: 1%;
}

#coachtrevor1{
	margin: -4% 3% 5% 0%;
	width: 24%;
}

/* =============================================
   PHILOSOPHY
   ============================================*/	

#logo{
	max-width: 100%;
	padding: 1%;
	margin-top: -2%;
	margin-left: -2%;
 }

#header{
	margin: 0 auto;
	padding: 2%;
}

#motto{
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-style: italic;
	float: none;
	background: none;
	padding: 0;
	margin-left: 1%;
	border: none;
	/*outline: solid 1px #fff;*/
}

#coachingphilosophy{
	margin: 6% 0% 0% 1%;
	/*outline: solid 1px #fff;*/
}

#coachingarticle{
	background: #212121;
	padding-left: 3%;
	padding-right: 17%;
	margin-left: 0%;
	margin-top: -1%;
	/*outline: solid 1px #fff;*/
}

/* =============================================
   PACKAGES
   ============================================*/	
   
#plans{
	margin: 6% 0% 1% 1%;
}
   
table{
	background: #212121;
	border-collapse: collapse;
	width: 80%;
	margin: 0 10%;
	padding: 0%;
}

#table{
	background: #212121;
	width: 100%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 5%;
	margin-top: 2%;
}

th{
	font-size: 1.25em;
	line-height: 130%;
	text-align: center;
	color: #f8ec24;
	background-color: #585858;
	border-bottom: solid 2px #212121;
}

th.th1{
	border-top-left-radius: 10px;	
	padding: 3%;
}

th.th2{
	border-top-right-radius: 10px;	
	padding: 3%;
}

td{
	border: none;
	font-size: 1.125em;
	line-height: 120%;
	background-color: #999;
	color: #212121;
	padding: 3%;
	text-align: center;
}

td.td1{
	border-right: solid 2px #212121;
}

td.td2{
	border-right: solid 2px #212121;
}

td.td3{
	border-right: solid 2px #212121;
}

td.td4{
	border-right: solid 2px #212121;
}

td.td5{
	border-right: solid 2px #212121;
}

td.td6{
	border-right: solid 2px #212121;
}

td.td7{
	border-right: solid 2px #212121;
}

td.td8{
	border-right: solid 2px #212121;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

td.td12{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
td.td13{
	background: none;
}

td.td14{
	background: none;
}

td.td15{
	background: none;
}

td.td16{
	background: none;
}

/* =============================================
   COACHES
   ============================================*/
#meetcoaches{
	margin: 6% 0% 0% 1%;
}   

#trevor{
	margin: 2% 0% -1% 2%;
	font-size: 1.25em;
}  

#trevbike{
	margin-left: 2%;
	margin-top: 4%;
} 

#trevbio{
	margin: -2% 2% 1% 4%;
	/*outline: 1px solid #fff;*/
}

#trevhighlights{
	margin-top: -1%;
	margin-left: 2%;
	margin-bottom: 0%;
	font-size: 1.25em;
	/*outline: 1px solid #fff;*/
}

#trevcredentials{
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 0%;
	font-size: 1.25em;
}

#trevsponsorships{
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 0%;
	font-size: 1.25em;
}

/* =============================================
   GALLERY
   ============================================*/
aside img{
	margin: 5%;
}

   
   
   
/* =============================================
   CONTACT US
   ============================================*/






/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/