body{ 
	font-family: 'PT+Sans+Caption', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 130%;
	max-width: 98%; 
	margin: 1%;
	border: 1em solid #595A5A;
}

.container{
	max-width: 100%; 
	background-color: #E5E6E6;
	margin: 0 auto;
	padding: 2%; 
	border: 1em solid #8AB8E6;
}

header{
	font-size: 1.25em;
	line-height: 50%;
	margin-bottom: 7%;
}

h1{
	font-family: 'Telex', Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #595A5A;
	font-size: 2em;	
	width: 100%;
	padding-bottom: 1%;
	margin: 1% 0%; 
	border-bottom: 2px solid #595A5A;
}

h3{
	font-family: 'Telex', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1.5em;	
	color: #595A5A;
	text-decoration: underline;
	margin-left: 2%;
}

h4{
	font-family: 'Telex', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1em;	
	color: #000;
	text-decoration: underline;
	margin-left: 2%;
	margin-top: 5%;
	margin-bottom: -1%;
}

p{ 
	font-size: 0.875em;	/* 14px */
	font-weight: normal;
}

.goals{
	margin-top: -1%;
	margin-bottom: 5%;
	line-height: 140%;
}

ul{
	margin-left: 2%;
	list-style-type: square;
	line-height: 180%;

}

li{
	font-size: 0.875em;	/* 14px */
	font-weight: normal;
}

strong{
	-web-font-weight: 700;
}

#d3{
	margin-left: 2%;
	font-size: 1.125em;
}

.d3{
	line-height: 140%;
}

#qt2{
	margin-left: 2%;
	font-size: 1.125em;
}

.qt2{
	line-height: 140%;
}

#tricoach{
	margin-left: 2%;
	font-size: 1.125em;
}
.tricoach{
	line-height: 140%;
}

.indent{
	list-style-type: circle;
	font-size: 1em;
	line-height: 150%;
}

.competitor{
	margin-top: 2%;
	margin-bottom: 5%;
}

#amy{
	margin-left: 2%;
	font-size: 1.25em;
}
.amy{
	line-height: 140%;
	margin-bottom: 5%;
}

#john{
	margin-left: 2%;
	font-size: 1.25em;
}

.john{
	line-height: 140%;
}


/* General page link properties--------------------------------------------------------*/

a:link{
	color: #5174d5;
}

a:visited{
	color: #a8a8a8;
}

a:hover{
	color: #fff;
}

a:active{
	color: #000;
}

a.hover{
	text-decoration: none;
	background: none;
	text-align: center;
	color: #5174d5;
}

a.hover:hover{
	color: #fff;
}

a:link{
	color: #5174d5;
}

a:visited{
	color: #a8a8a8;
}

a:hover{
	color: #fff;
}

a:active{
	color: #000;
}


/* =Media Queries
=======================================================================================*/

	/* Tablet Portrait size to standard 960 (devices and browsers)*/
	@media screen and (min-width: 768px) and (max-width: 959px){
	
		h1{
			margin: 0% 0% 4.166666666666% 3%;
			text-indent: -2%;
			max-width: 100%;
			clear: both
		}

		h2{
			margin: 0% 0% 4.166666666666% 0%; 
			text-indent: 1%;
			max-width: 100%;
			clear: both;
		}
		
	}
	
	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers)=================*/
	@media only screen and (min-width: 480px) and (max-width: 767px){
	
		p{
			font-size: .875em; /*14px*/
		}
		
		a.hover{
			color: blue;
		}		
		
		a:link{
			color: blue;
		}
		
		h1{
			font-size: 1.75em;	/* 36px/18px */
			text-indent: -2%;
			margin: 0% 0% 4.166666666666% 3%; 
			max-width: 100%;
			clear: both
		}
		
		h2{
			font-size: 1.25em;
			text-indent: 1%;
			margin: 2% 0% 4.166666666666% 0%; 
			width: 140%;
			clear: both;
		}
		
		h4{
			font-size: 1em; /*16px*/
		}
	}	
	
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)============*/
	@media only screen and (max-width: 479px){
	
		body{ 
			line-height: 130%;
			max-width: 100%; 
			margin: 0% auto;
			border: .5em solid #8AB8E6;
		}
		
		.container{
		border: none;
		}

		header{
			font-size: 1em;
			line-height: 100%;
			margin-bottom: 7%;
		}
	
		p{
			font-size: .75em; 
		}
		
		h1{
			margin: 0%; 
			font-size: 1.25em;
			padding: 5%;
			max-width: 75%;
		}
		
		h3{
			font-size: 1em;	
			margin: 3% auto;
		}
		
		ul{
			margin: 1% 1% 1% -10%;
			font-size: .85em; 
			line-height: 130%;
		}
		
		.indent{
		font-size: 1.125em;
		width: 75%;
		}
		
		h4{
			font-size: .75em;
			margin: 10% 0%;
		}
	}
	
		
	
	
	


