body{ 
	font-family: 'PT+Sans+Caption', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 130%;
	max-width: 98%; 
	margin: 1%;
	border: 1em solid #595A5A;

}

.container{
	max-width: 100%; 
	background-color: #E5E6E6;
	margin: 0 auto;
	padding: 2%; 
	border: 1em solid #8AB8E6;
}

header{
	font-size: 1.25em;
	line-height: 50%;
	margin-bottom: 7%;
	/*border: 1px solid #000;*/
}

h1{
	font-family: 'Telex', Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #595A5A;
	font-size: 2em;	
	width: 100%;
	margin: 1% 0%; 
}

h4{
	font-family: 'Telex', Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #595A5A;
	font-size: 1.25em;	
	width: 100%;
	margin-top: 3%;
	margin-left: 2%; 
	/*border: 1px solid #000;*/

}

p{ 
	font-size: 0.875em;	/* 14px */
	font-weight: normal;
}

#goals{
	font-family: 'PT+Sans+Caption', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1em;
}

.goals{
	margin-top: -2%;
	margin-bottom: 5%;
}

ul{

}

li{
	font-size: 0.875em;	/* 14px */
	font-weight: normal;
}

.d3{

}

.qt2{

}

.tricoach{

}


strong{
	-web-font-weight: 700;
}

.indent{

}

h3{

}

/* General page link properties--------------------------------------------------------*/

a:link{
	color: #5174d5;
}

a:visited{
	color: #a8a8a8;
}

a:hover{
	color: #fff;
}

a:active{
	color: #000;
}

a.hover{
	text-decoration: none;
	background: none;
	text-align: center;
	color: #5174d5;
}

a.hover:hover{
	color: #fff;
}

a:link{
	color: #5174d5;
}

a:visited{
	color: #a8a8a8;
}

a:hover{
	color: #fff;
}

a:active{
	color: #000;
}


/* =Media Queries
=======================================================================================*/

	/* Tablet Portrait size to standard 960 (devices and browsers)*/
	@media screen and (min-width: 768px) and (max-width: 959px){
	
		h1{
			margin: 0% 0% 4.166666666666% 3%;
			text-indent: -2%;
			max-width: 100%;
			clear: both
		}

		h2{
			margin: 0% 0% 4.166666666666% 0%; 
			text-indent: 1%;
			max-width: 100%;
			clear: both;
		}
		
	}
	
	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers)=================*/
	@media only screen and (min-width: 480px) and (max-width: 767px){
	
		p{
			font-size: .875em; /*14px*/
		}
		
		a.hover{
			color: blue;
		}		
		
		a:link{
			color: blue;
		}
		
		h1{
			font-size: 1.75em;	/* 36px/18px */
			text-indent: -2%;
			margin: 0% 0% 4.166666666666% 3%; 
			max-width: 100%;
			clear: both
		}
		
		h2{
			font-size: 1.25em;
			text-indent: 1%;
			margin: 2% 0% 4.166666666666% 0%; 
			width: 140%;
			clear: both;
		}
		
		h4{
			font-size: 1em; /*16px*/
		}
	}	
	
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)============*/
	@media only screen and (max-width: 479px){
	
		body{
		}
		
		.container{
		}
	
		p{
			font-size: .8125em; /*13px*/
		}
		
		a.hover{
			color: blue;
		}	
		
		a.hover:hover{
			color: #fff;
		}	
		
		a:link{
			color: blue;
		}
		
		a:hover{
			color: #fff;
		}
		
		h1{
			font-size: 1.5em;
			line-height: 120%;	
			margin: 10% 10% 4.166666666666%; 
			padding: 5%;
		}
		
		h2{
			display: none;
		}
		
		h4{
			font-size: 1em; /*16px*/
			margin: 0%;
		}
		
	}
	
		
	
	
	


